$--color-primary: #3d93ff;

$--color-success: #5FCA71;
$--color-warning: #F7C573;
$--color-danger: #E76B65;
$--color-info: #878D99;

$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
